.myButtons {
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

.pane {
    -fx-background-image: url("../images/aaua.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.2;
}

#loginButton {
    -fx-background-color: linear-gradient(to bottom right, #006400, #32CD32);
    -fx-font-weight: bold;
}

#logoutButton {
    -fx-background-color: linear-gradient(to bottom right, #AA0000, #EF0107);
    -fx-font-weight: bold;
}

.errorMessageLabel {
    -fx-text-fill: red;
}

.hbox {
    -fx-background-color: #14184D;
}

.menuButtons {
    -fx-background-color: #8097AA;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

#menuLabelID {
    -fx-alignment: center;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.vboxLeft {
    -fx-background-color: #EEEEEE;
}