.myButtons {
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-font-size: 14;
}

.pane {
    -fx-background-image: url("../images/aaua.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.2;
}

#loginButton {
    -fx-background-color: linear-gradient(to bottom right, #006400, #32CD32);
    -fx-font-weight: bold;
}

#logoutButton {
    -fx-background-color: linear-gradient(to bottom right, #AA0000, #EF0107);
    -fx-font-weight: bold;
}

#saveUserButton {
    -fx-background-color: linear-gradient(to bottom right, #006400, #32CD32);
    -fx-font-weight: bold;
}

#photoUploadButton {
    -fx-background-color: #14184D;
    -fx-font-weight: bold;
}

#scanCardButton {
    -fx-background-color: #14184D;
    -fx-font-weight: bold;
}

.errorMessageLabel {
    -fx-text-fill: red;
}

#todayLabel {
    -fx-background-color: #E0E0E0;
}

.rectangleTexts {
    -fx-text-fill: white;
    -fx-font-size: 15;
}

.rectangleNum {
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.hbox {
    -fx-background-color: #14184D;
}

.menuButtons {
    -fx-background-color: #8097AA;
}

#menuvbox {
    -fx-background-color: #E0E0E0;
}

.headerText {
    -fx-text-color: black;
    -fx-font-size: 28;
    -fx-font-weight: bold;
}

.subHeaderText {
    -fx-font-color: black;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#footerAnchor {
    -fx-background-color: #14184D;
}

#footerText {
    -fx-text-fill: white;
    -fx-alignment: center;
}

#photoUploadConfirmationLabel {
    -fx-text-fill: #006400;
}

#scanCardConfirmationLabel {
    -fx-text-fill: #006400;
}

.table-cell {
    -fx-alignment: CENTER; /* Center alignment for all cells */
}

.normalSize {
    -fx-font-weight: bold;
}
